*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: auto;
}
main{
    height: auto;
}
footer{
    height: auto;
}
#inicio_sesion{
    color: rgb(43, 43, 43);
}
.btn_wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 22px;
    bottom: 50px;
    right: 50px;
    background-color: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgb(0,0,0.3);
    z-index: 100;
}
.btn_wsp:hover{
    text-decoration: none;
    color: #0df053;
    background-color: white;
}
#card-1{
    grid-area: card-1;
    padding: 15px;
    transition: padding 3s;
}
#card-1:hover{
    padding: 0px;
}









